/*-----------BEGIN--------flexslider---announcement-base--------------------------*/
.views-field.views-field-field-announcement-image.announcement-img {
  border-radius: 0;
  padding: 0;
  width: 100%;
  box-shadow: none;

}

.flex-caption {
  background: -moz-linear-gradient(top, rgba(204, 204, 204, 0.7) 0%, rgba(238, 238, 238, 0.7) 45%, rgba(238, 238, 238, 0.7) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(204, 204, 204, 0.7)), color-stop(45%, rgba(238, 238, 238, 0.7)), color-stop(100%, rgba(238, 238, 238, 0.7))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(204, 204, 204, 0.7) 0%, rgba(238, 238, 238, 0.7) 45%, rgba(238, 238, 238, 0.7) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(204, 204, 204, 0.7) 0%, rgba(238, 238, 238, 0.7) 45%, rgba(238, 238, 238, 0.7) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(204, 204, 204, 0.7) 0%, rgba(238, 238, 238, 0.7) 45%, rgba(238, 238, 238, 0.7) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(204, 204, 204, 0.7) 0%, rgba(238, 238, 238, 0.7) 45%, rgba(238, 238, 238, 0.7) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3cccccc', endColorstr='#b3eeeeee', GradientType=0); /* IE6-9 */
  border-radius: 0 12px 12px 0;
  font-size: 2em;
  margin-left: 20px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 50%;
  color: #333333;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
  font-style: normal;
  font-weight: lighter;

}

/*------------END----flexslider---announcement-base--------------------------*/

.views-field.views-field-field-announcement-image {
  border-radius: 4px;
  box-shadow: 0 0 2px #757575;
  padding: 6px;
  width: 160px;
}

.views-field-field-announcement-image .field-content > img {
}

.view-id-announcements .views-field.views-field-title {
  font-size: 1.2em;
  padding-left: 10px;
  text-align: left;
}

.views-field.views-field-field-announcement-body {
  float: right;
  text-align: left;
  width: 60%;
}

/*-- Figure--added for future use in flexslider --*/

.figure {
  background-color: #fff;
  border: 1px solid #c8c2a7;
  margin-bottom: 16px;
  overflow: hidden;
}

.figure.left {
  float: left;
  margin-right: 16px;
}

.figure.right {
  float: right;
  margin-left: 16px;
}

.figure img {
  float: left;
  padding: 3px;
}

.figure img + img, .figure a + a img {
  padding-left: 0;
}

.figure .caption {
  background: #f2f2f2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: left;
  font-size: 12px;
  line-height: 1.5;
  margin: 3px;
  padding: 2px;
}

.figure.anchor {
  border-right-width: 0;
  border-top-width: 0;
  float: right;
  margin-left: 16px;
  margin-right: -16px;
  margin-top: -16px;
}

.figure.anchor .caption {
  text-align: center;
}

@media (max-width: 979px) {
  .view-id-announcements.view-display-id-block_1 {
    display: none;
  }
}