.view-luggage-announcements .flex-control-nav {
    bottom: 0;
}

.view-luggage-announcements .flexslider {
	background: none;
	border: none;
	border-radius: none;
	box-shadow: none;
}

.view-luggage-announcements .flexslider .slides {
	margin: 0em;
	padding: 0em;
}