.view-luggage-announcements .flex-control-nav {
    bottom: 0;
}

.view-luggage-announcements .flexslider {
	background: none;
	border: none;
	border-radius: none;
	box-shadow: none;
}

.view-luggage-announcements .flexslider .slides {
    padding: 0;
}

.view-luggage-announcements .flexslider .slides li img {
    width: 100%;
    height: auto;
	margin: 0em;
	padding: 0em;
}

.view-luggage-announcements .flexslider .flex-caption {
	margin:-3em 2em 4em 0em;
	text-align: right;
	color:#fff;
}

.view-luggage-announcements .flexslider .flex-control-nav {
	z-index:100;
}

.view-luggage-announcements .flexslider .flex-direction-nav a {
	height: 45px;
}